.login-page {
    background: url("../img/bg-signup.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 86vh;
}

.login-container {
    padding: 250px 0 500px 0;
}
h1 {
    text-align: center;
}
h1, label {
    color: #fff;
}
p.login-signup {
    margin-top: 20px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}