{% load static %}
{% include 'algobot/partials/header.html' %}

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {% include 'registration/dashboard/sidebar.html' %}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                {% include 'registration/dashboard/topbar.html' %}
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">My Portfolio</h1>
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Account Information -->
                        {% include 'registration/dashboard/account_information.html' %}

                    </div>

                    <!-- Content Row -->

                    <div class="row">

                        <!-- Portfolio Value Card  -->
                        {% include 'registration/dashboard/portfolio_value_chart.html' %}

                        <!-- Account Information Card -->
                        {% include 'registration/dashboard/pie_chart.html' %}

                    </div>

{#                    <div class="row">#}
{##}
{#                        <!-- Market Stream Card -->#}
{#                        {% include 'registration/dashboard/market_stream.html' %}#}
{##}
{#                   </div>#}

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Content Column -->
                        <div class="col-lg-6 mb-4">

                            <!-- Project Card Example -->
                            {% include 'registration/dashboard/assets.html' %}

                            <!-- Color System -->
                            <div class="row">
                            </div>

                        </div>

                        <div class="col-lg-6 mb-4">

                            <!-- Illustrations -->
                            {% include 'registration/dashboard/latest_news.html' %}

                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright ©Algobot 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    {% include 'registration/dashboard/logout_modal.html' %}

    <!-- Buy Modal-->
    {% include 'registration/dashboard/buy_stock_modal.html' %}

    <!-- Sell Modal-->
    {% include 'registration/dashboard/sell_stock_modal.html' %}

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'algobot/assets/dashboard_assets/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'algobot/assets/dashboard_assets/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.js.map" crossorigin="anonymous"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'algobot/assets/dashboard_assets/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'algobot/assets/js/dashboard/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'algobot/assets/dashboard_assets/chart.js/Chart.min.js' %}"></script>

    <!-- Toastr Notification -->
    <script src="{% static 'algobot/assets/js/toastr.min.js' %}"></script>



    <!-- Page level custom scripts -->

    <script type="text/javascript">
    // Set new default font family and font color to mimic Bootstrap's default styling
    Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    Chart.defaults.global.defaultFontColor = '#858796';

// Pie Chart Example
var ctx = document.getElementById("myPieChart");

var equity = {{ equity }};
var buying_power = {{ buying_power  }}
var cash = {{ cash  }}

var myPieChart = new Chart(ctx, {
  type: 'doughnut',
  data: {
    labels: ["Equity", "Buying Power", "Cash"],
    datasets: [{
      data: [equity, buying_power, cash],
      backgroundColor: ['#4e73df', '#1cc88a', '#36b9cc'],
      hoverBackgroundColor: ['#2e59d9', '#17a673', '#2c9faf'],
      hoverBorderColor: "rgba(234, 236, 244, 1)",
    }],
  },
  options: {
    maintainAspectRatio: false,
    tooltips: {
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      caretPadding: 10,
    },
    legend: {
      display: false
    },
    cutoutPercentage: 80,
  },
});
</script>

<script type="text/javascript">
    // Set new default font family and font color to mimic Bootstrap's default styling
Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
Chart.defaults.global.defaultFontColor = '#858796';

function number_format(number, decimals, dec_point, thousands_sep) {
  // *     example: number_format(1234.56, 2, ',', ' ');
  // *     return: '1 234,56'
  number = (number + '').replace(',', '').replace(' ', '');
  var n = !isFinite(+number) ? 0 : +number,
    prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
    sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
    dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
    s = '',
    toFixedFix = function(n, prec) {
      var k = Math.pow(10, prec);
      return '' + Math.round(n * k) / k;
    };
  // Fix for IE parseFloat(0.55).toFixed(0) = 0;
  s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
  if (s[0].length > 3) {
    s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
  }
  if ((s[1] || '').length < prec) {
    s[1] = s[1] || '';
    s[1] += new Array(prec - s[1].length + 1).join('0');
  }
  return s.join(dec);
}

function htmlDecode(input) {
  var doc = new DOMParser().parseFromString(input, "text/html");
  return doc.documentElement.textContent;
}

function formatDate(input) {
    var date = new Date(input);
    return date.getDate();
}

// Area Chart Example
var ctx = document.getElementById("myAreaChart");

// Create array of timestamps
// I tried to bring the raw timestamps to JS and then format it to YYYY-MM-DD on JS
var timestamps = {{ portfolio_history.timestamp }};



var myLineChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: {{ timestamps|safe }},
    datasets: [{
      label: "Earnings",
      lineTension: 0.3,
      backgroundColor: "rgba(78, 115, 223, 0.05)",
      borderColor: "rgba(78, 115, 223, 1)",
      pointRadius: 3,
      pointBackgroundColor: "rgba(78, 115, 223, 1)",
      pointBorderColor: "rgba(78, 115, 223, 1)",
      pointHoverRadius: 3,
      pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
      pointHoverBorderColor: "rgba(78, 115, 223, 1)",
      pointHitRadius: 10,
      pointBorderWidth: 2,
      // We can populate this with real account data. Will need to store Monthly Earnings data and call it here
      data: {{portfolio_history.equity}},
    }],
  },
  options: {
    maintainAspectRatio: false,
    layout: {
      padding: {
        left: 10,
        right: 25,
        top: 25,
        bottom: 0
      }
    },
    scales: {
      xAxes: [{
        time: {
          unit: 'date'
        },
        gridLines: {
          display: false,
          drawBorder: false
        },
        ticks: {
          maxTicksLimit: 7
        }
      }],
      yAxes: [{
        ticks: {
          maxTicksLimit: 5,
          padding: 10,
          // Include a dollar sign in the ticks
          callback: function(value, index, values) {
            return '$' + number_format(value);
          }
        },
        gridLines: {
          color: "rgb(234, 236, 244)",
          zeroLineColor: "rgb(234, 236, 244)",
          drawBorder: false,
          borderDash: [2],
          zeroLineBorderDash: [2]
        }
      }],
    },
    legend: {
      display: false
    },
    tooltips: {
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      titleMarginBottom: 10,
      titleFontColor: '#6e707e',
      titleFontSize: 14,
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      intersect: false,
      mode: 'index',
      caretPadding: 10,
      callbacks: {
        label: function(tooltipItem, chart) {
          var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
          return datasetLabel + ': $' + number_format(tooltipItem.yLabel);
        }
      }
    }
  }
});


</script>


<script type="text/javascript">
$( document ).ready(function() {

    setUpAssetDropDownListForSellingPosition();

    setUpAssetDropDownListForBuyingPosition();


});


function setUpAssetDropDownListForSellingPosition() {

        // Get all positions
        var assets = {{ list_of_position|safe }}

        // Stocks
        for (i = 0; i < assets.length; ++i) {
            optionText = assets[i];
            optionValue = assets[i];

            $('#stockPosition_sell').append(`<option value="${optionValue}"> ${optionText}</option>`);
        }

        // Shares
        for (i = 1; i < 50; ++i) {
            optionText = i;
            optionValue = i;

            $('#shares_sell').append(`<option value="${optionValue}"> ${optionText}</option>`);
        }

}


function setUpAssetDropDownListForBuyingPosition() {

        // Get all positions
        var assets = {{ list_of_assets|safe }}

        // Stocks
        for (i = 0; i < assets.length; ++i) {
            optionText = assets[i];
            optionValue = assets[i];

            $('#stockPosition_buy').append(`<option value="${optionValue}"> ${optionText}</option>`);
        }

        // Shares
        for (i = 1; i < 50; ++i) {
            optionText = i;
            optionValue = i;

            $('#shares_buy').append(`<option value="${optionValue}"> ${optionText}</option>`);
        }

}

// sell position form submit
$(function(){
     $("#frm_sell_position").on('submit', function(e){
         e.preventDefault();

         // Get CSRF Token
         const csrftoken = getCookie('csrftoken');

         var symbol = $('#stockPosition_sell').val();

         var quantity = $('#shares_sell').val();


         $.ajax({
             url: $(this).attr('action'),
             method: 'POST',
             headers: {'X-CSRFToken': csrftoken},
             mode: 'same-origin',
             data:{
                 'symbol': symbol ,
                 'quantity':quantity
             },
             success: function(data)
             {
                   //console.log(data.Success)
                 if (data.Success == 'true'){
                      $('#sellStockModal').modal('toggle');
                      toastr.success('Your order was successfully submitted');
                 }
                 else
                 {
                      $('#sellStockModal').modal('toggle');
                      toastr.error('Error encountered while submitting your order.');
                 }

             }
         });

     });
});

// buy position form submit
$(function(){
     $("#frm_buy_position").on('submit', function(e){
         e.preventDefault();

         // Get CSRF Token
         const csrftoken = getCookie('csrftoken');

         var symbol = $('#stockPosition_buy').val();

         var quantity = $('#shares_buy').val();


         $.ajax({
             url: $(this).attr('action'),
             method: 'POST',
             headers: {'X-CSRFToken': csrftoken},
             mode: 'same-origin',
             data:{
                 'symbol': symbol ,
                 'quantity':quantity
             },
             success: function(data)
             {
                   //console.log(data.Success)
                 if (data.Success == 'true'){
                      $('#buyStockModal').modal('toggle');
                      toastr.success('Your order was successfully submitted');
                 }
                 else
                 {
                      $('#buyStockModal').modal('toggle');
                      toastr.error('Error encountered while submitting your order.');
                 }

             }
         });

     });
});


function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}







</script>



</body>
</html>