<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Algorithmic Trading</h6>
    </div>
    <div class="card-body">

        <p> Generate profits at a speed and frequency
            that is impossible for a human trader.<p/>
        <p>The defined sets of instructions are based on timing, price, quantity,
            or any mathematical model. Apart from profit opportunities for the trader,
            algo-trading renders markets more liquid and
            trading more systematic by ruling out the impact of human emotions on
            trading activities.</p>
    </div>
</div>

<!-- Approach -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Benefits of Algorithmic Trading</h6>
    </div>
    <div class="card-body">
        <ul>
            <li>Trades are executed at the best possible prices.</li>
            <li>Trade order placement is instant and accurate (there is a high chance of execution at the desired levels).</li>
            <li>Trades are timed correctly and instantly to avoid significant price changes.</li>
            <li>Reduced transaction costs.</li>
            <li>Simultaneous automated checks on multiple market conditions.</li>
            <li>Reduced risk of manual errors when placing trades.</li>
            <li>Algo-trading can be back tested using available historical and real-time data to see if it is a viable trading strategy.</li>
            <li>Reduced the possibility of mistakes by human traders based on emotional and psychological factors.</li>
        </ul>


    </div>
</div>